body{
    background-color: olivedrab;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container section{
    color: rgb(233, 233, 233);
  background-color: lightseagreen;
  padding: 20px 20px;
  max-width: 500px;
  margin: 15px 0px 15px 0px;
}
.right{
    margin-right: -100px;
}

.left{
    margin-left: -100px;

}